$primary-color: #3B8D9D
$secondary-color: darken($primary-color,10%)
$bps: (xs: 0px, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$z-index: (slick-arrows: 1, nav: 2, header: 3, mobile-nav: 4, login-panel: 5, modal: 6)

// Common
$danger: #e53935
$error: $danger
$success: #4caf50
$warning: #f9a825

// External variables
