@import "common"
.filters-container
	position: sticky
	top: 200px
	left: 10px
	text-align: center

	.collapsible
		.collapsible-header
			@if $uppercase-requirement
				text-transform: uppercase
			+flexCenter

	.filters
		display: flex
		flex-direction: column
	i
		transform: rotate(90deg)
		transition-duration: 0.3s
		position: absolute
		right: 10px
	li.active  i
		transform: rotate(180deg)
		transition-duration: 0.3s
