.news-container
  background-color: #fff
  h2
    color: white
    display: block
    margin: 20px auto
    @if $uppercase-requirement == true
      text-transform: uppercase
    background-color: #000
    font-weight: 300
    padding: 2px
    text-align: center
    font-size: 24px
    width: 170px
  .news
    margin-bottom: 50px
    +onSmall
      margin: 50px 50px

    h3
      text-align: center
      font-size: 20px
      @if $uppercase-requirement == true
        text-transform: uppercase
    p
      color: dimgray
      font-size: 14px
      font-weight: 300
    .news-read-more-btn
      border: none
      color: $primary-color
      font-style: italic
      padding: 5px 0
      text-transform: lowercase
      font-weight: 300
      display: block
      margin: 0 auto
      cursor: pointer
      border-bottom: 1px solid transparent
      &:hover
        color: $secondary-color
        border-bottom: 1px solid $primary-color
        transition-duration: 0.25s

.world-news
  .news-container
    display: flex
    flex-direction: row
    margin: 10px