.product-page
    margin: 50px 0
    display: flex
    justify-content: space-between
    img
        flex: 1
        text-align: center
#product-page-sidebar
    display: flex
    flex-direction: column
    +flexCenter
    +box(400px)
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.22)
    margin-left: auto

