@import "common"
.promoted-products
    display: flex
    flex-direction: row
    +flexCenter
    .product
        display: flex
        flex-direction: column
        margin: 20px
        +flexCenter
        &-image
            max-width: 200px
        &-title
            font-weight: 700
            color: #000
            @if $uppercase-requirement
                text-transform: uppercase
        &-desc
            font-weight: 300
            color: #505050

// PRODUCTS PAGE STYLES GOES HERE
.card
    .card-image
        i
            font-size: 16px
    .card-price
        color: $primary-color
        position: relative
        top: 10px
        text-align: center
        font-size: 24px !important